@charset "UTF-8";

body{ 
    margin: 0px;
}


header{
    height:400px;
    background-image: url(imagens/irmaos-catacumba.jpg);
    background-position: center center;
    background-repeat: no-repeat;}
    








#ir1{
    margin-left: 550px;
    border: 5px solid black;
    border-radius: 10px;
}