@charset "UTF-8";
@font-face {
    font-family:titulo;
    src: url(fonte/fearless.ttf);
}



h1{
    width: 3000px;
    font-size: 3em;
    color: rgba(177, 177, 24, 0.655);
    font-family: "titulo",arial,helvetica;
    margin: 0px;
}

header{
    height: 600px;;
    background-size:contain;
    background-image: url(imagens/irmaos-catacumba.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
    

nav{
    width:500px;
    background-color: #3a4039;
    
}

nav > a { 
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgba(177, 177, 24, 0.655);
    color: white;
    padding-left: 30px;
   padding-right: 40px;
   text-decoration: none;
}


nav>:hover{
            background-color:rgba(177, 177, 24, 0.655);
            color: #3a4039;
            transition: 1.5s;

}

body{ 
    background-image: url(imagens/fundo-body.jpg);
    margin: 0px;
}

main p { 
    margin: auto;
    line-height: 1.2em;
    font-size:1.2em;
    padding: 10px;
    border: 2px solid rgba(177, 177, 24, 0.655);
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.185)
}

.ir1-1 { 
   
    position: relative;
    background-position: center center;
    background-size: contain;
    background-attachment: fixed;
    background-image: url(imagens/geral1.jpg);
    text-align:justify;
    font-size: 3em;
    font-family: "titulo",arial,helvetica; 
    color:#f57606 ;

}

.ir1-1 > div { 
    width: 100px;
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translate(-50,-50);
}

#ir1{

    display: block;
    margin-left : auto;
    border: 5px solid rgba(177, 177, 24, 0.655);
    border-radius: 10px;
}

#ir2{
    text-align: right;
    border: 5px solid rgba(177, 177, 24, 0.655);
    border-radius: 10px;
}

#ir3{
    margin-left: 550px;
    border: 5px solid rgba(177, 177, 24, 0.655);
    border-radius: 10px;}
